In [2]:
import pandas as pd
import numpy as np

In [52]:
data = [ 
    [13,  54,  23,  23,  62,  29,  53,  15,  54 , 67],
    [13,  54,  23,  23,  62,  29,  53,  15,  54,  67],
    [98,  36,  34,  40,  13,  92,  41,  61 , 94,  62],
    [33,  87,  46,  44,  82,  87,  11,  76,  76,  21],
    [56,  16 , 13,  91,  64,  13,  77,  44,  44,  27],
    [56,  16 , 13,  91,  64,  13,  77,  44,  44,  27],
    [15 , 87,  20,  50,  53,  48,  39,  38,  91,  32],
    [93,  48,  28,  27,  50 , 55 , 28 , 38  ,78 , 85],
    [76,  58 , 26  ,89 , 88  ,71 , 97 , 80,  42,  52],
    [76,  58 , 26  ,89 , 88  ,71 , 97 , 80,  42,  52],
    [38,  98,  55,  61,  75,  82 , 37,  64,  87,  83],
    [24,  53,  16,  84,  82,  13,  18,  18,  82,  51],
]

colums =  "A B C D E F G H I J".split(' ')

print(colums)

index = "a b c d e f g h i j k l".split(' ')

print(index)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J']
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l']

In [54]:
matrix = pd.DataFrame(data, columns=colums, index=index)

In [55]:
matrix

    A   B   C   D   E   F   G   H   I   J
a  13  54  23  23  62  29  53  15  54  67
b  13  54  23  23  62  29  53  15  54  67
c  98  36  34  40  13  92  41  61  94  62
d  33  87  46  44  82  87  11  76  76  21
e  56  16  13  91  64  13  77  44  44  27
f  56  16  13  91  64  13  77  44  44  27
g  15  87  20  50  53  48  39  38  91  32
h  93  48  28  27  50  55  28  38  78  85
i  76  58  26  89  88  71  97  80  42  52
j  76  58  26  89  88  71  97  80  42  52
k  38  98  55  61  75  82  37  64  87  83
l  24  53  16  84  82  13  18  18  82  51

In [56]:
mask = matrix.duplicated()
mask

a    False
b     True
c    False
d    False
e    False
f     True
g    False
h    False
i    False
j     True
k    False
l    False
dtype: bool

In [57]:
matrix[mask].index

Index(['b', 'f', 'j'], dtype='object')

In [59]:
matrix.drop(matrix[mask].index, inplace=True )

In [60]:
matrix

    A   B   C   D   E   F   G   H   I   J
a  13  54  23  23  62  29  53  15  54  67
c  98  36  34  40  13  92  41  61  94  62
d  33  87  46  44  82  87  11  76  76  21
e  56  16  13  91  64  13  77  44  44  27
g  15  87  20  50  53  48  39  38  91  32
h  93  48  28  27  50  55  28  38  78  85
i  76  58  26  89  88  71  97  80  42  52
k  38  98  55  61  75  82  37  64  87  83
l  24  53  16  84  82  13  18  18  82  51

In [38]:
g = ( v for line in matrix.values for v in line )

count = {}

for e in g:
    try:
        count[e] += 1
    except KeyError:
        count[e] = 1

In [66]:
print( count )

# bravo Rochdyath
dict (zip( *np.unique(matrix.values,return_counts=True)))

{13: 5, 54: 2, 23: 2, 62: 2, 29: 1, 53: 3, 15: 2, 67: 1, 98: 2, 36: 1, 34: 1, 40: 1, 92: 1, 41: 1, 61: 2, 94: 1, 33: 1, 87: 4, 46: 1, 44: 3, 82: 4, 11: 1, 76: 3, 21: 1, 56: 1, 16: 2, 91: 2, 64: 2, 77: 1, 27: 2, 20: 1, 50: 2, 48: 2, 39: 1, 38: 3, 32: 1, 93: 1, 28: 2, 55: 2, 78: 1, 85: 1, 58: 1, 26: 1, 89: 1, 88: 1, 71: 1, 97: 1, 80: 1, 42: 1, 52: 1, 75: 1, 37: 1, 83: 1, 24: 1, 84: 1, 18: 2, 51: 1}

{11: 1,
 13: 5,
 15: 2,
 16: 2,
 18: 2,
 20: 1,
 21: 1,
 23: 2,
 24: 1,
 26: 1,
 27: 2,
 28: 2,
 29: 1,
 32: 1,
 33: 1,
 34: 1,
 36: 1,
 37: 1,
 38: 3,
 39: 1,
 40: 1,
 41: 1,
 42: 1,
 44: 3,
 46: 1,
 48: 2,
 50: 2,
 51: 1,
 52: 1,
 53: 3,
 54: 2,
 55: 2,
 56: 1,
 58: 1,
 61: 2,
 62: 2,
 64: 2,
 67: 1,
 71: 1,
 75: 1,
 76: 3,
 77: 1,
 78: 1,
 80: 1,
 82: 4,
 83: 1,
 84: 1,
 85: 1,
 87: 4,
 88: 1,
 89: 1,
 91: 2,
 92: 1,
 93: 1,
 94: 1,
 97: 1,
 98: 2}

In [50]:
matrix[ matrix % 2 == 0 ].sum(axis=1)

a    170.0
c    456.0
d    324.0
e    224.0
g    188.0
h    270.0
i    422.0
k    282.0
l    324.0
dtype: float64